
* {

    body {
        background-color: blanchedalmond;

        .errorMessage {
            color: red;
            margin-left: 30px;
        }
    
        .title {
            text-align: center;
            font-size: 34px;
        }
    
        .threadWrapper {
            background-color: #f3eded;
            padding: 10px;
            max-width: 1300px;
            margin: 0 auto;
            border: 1px solid black;
            margin-bottom: 20px;
    
            .childWrapper {
                border: 1px solid black;
                padding: 10px;

                .threadTitle {
                    display: flex;
                    align-items: center;
                    font-weight: 600;
                    margin-left: 6px;
                    height: 60px;
    
                    h1 {
                        color:red;
                        margin-left: 3px;
                        font-size: 2.7rem;
                    }
                }

                section {
                    padding: 0px 10px;

                    .nameArea {
                        display: flex;
                        align-items: center;
                        margin-bottom: -14px;

                        .username {
                            color:green;
                            font-weight: 700;
                        }
                    }
                    .comment {
                        margin-top: 0;
                        margin-left: 20px;
                    }
                }

                .formWrapper {
                    padding: 16px;
                    margin-left: 20px;

                    .submit {
                        width: 60px;
                    }

                    .commentTextArea {
                        margin-top: 10px;
                        width: 500px;
                        height: 90px;
                        resize: none;
                    }
                }


            }
        }

        // NewThread
        .newThreadWrapper {
            background-color: #b3eeb3;
            padding: 10px;
            max-width: 1300px;
            margin: 0 auto;
            border: 1px solid black;
            margin-bottom: 20px;
            .newChildThreadWrapper {
                text-align: center;
                padding: 10px;
                border: 1px solid black;

                button {

                    a {
                        width: 150px;
                        color:black;
                        text-decoration: none;
                    }
                }
            }

        }

        //createThread.php
        .formWrapper {
            padding: 16px;
            margin-left: 20px;

            .submit {
                width: 60px;
            }

            .commentTextArea {
                margin-top: 10px;
                width: 600px;
                height: 90px;
                resize: none;
            }
        }
    }
}


